<div class="page-prefooter row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12 footer-block">
                <h3>华东师范大学</h3>
                <p>
                    闵行校区：东川路500号 200241 <br/>中山北路校区：中山北路3663号 200062<br/>
                    总机：86-21-62233333
                </p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 footer-block">
                <h3>关注我们</h3>
                <ul class="social-icons">
                    <li><a title="rss"
                        href="http://www.ecnu.edu.cn/_wp3services/rssoffer?siteId=2&templateId=111&columnId=1952"
                        data-original-title="rss"
                        class="rss">rss</a></li>
                    <li><a title="新浪微博" href="http://weibo.com/ecnu" data-original-title="weibo"
                        class="weibo">新浪微博</a></li>
                    <li><a title="华东师范大学官方微信" href="" data-original-title="wechat"
                        class="wechat" ng-click="showPhoto=true">官方微信</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                <h3>技术支持</h3>
                <address class="margin-bottom-40">
                    电子邮箱: xjxl@yjsy.ecnu.edu.cn
                </address>
            </div>
        </div>
    </div>
</div>
<div class="page-wechat-back" ng-init="showPhoto=false" ng-show="showPhoto" ng-click="showPhoto=!showPhoto"></div>
<div class="page-wechat" ng-show="showPhoto">
    <img src="http://localhost:63342/yjsy-ui/build/common/image/social/qrcode.png">
</div>
