/*navbar*/

.dp-navbar-top.navbar {
    background-color: #3A5898;
    color: rgba(255, 255, 255, 0.84);
}

.dp-navbar-top > div > div > .navbar-nav a,
.dp-navbar-top > div > div > .navbar-nav a:focus {
    color: #FFFFFF;
    font-size: 20px;
    background-color: #3A5898;
    font-family: "微软雅黑";
}
.dp-navbar-top.navbar-static-top.ng-scope > div > div > ul > li > ul > li > a {
    color: #fff;
    font-size: 15px;
    background-color: #3A5898;
    font-family: "微软雅黑";
}
.navbar-brand {
    height: 50px;
    padding:0 0 ;
}

.navbar-nav>li>a {
    padding-bottom: 0px;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 16px;
}
.dropdown-menu {
    box-shadow: 0 0;
}
