<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->
  <!-- BEGIN HEAD -->
  <head>
    <meta charset="utf-8"/>
    <title>研究生院管理系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- bower:css -->

    <!-- endbower -->

    <!-- BEGIN 首先加载第三方的css
    <link
        href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all"
        rel="stylesheet" type="text/css">
     -->
    <link href="../lib/style/font-awesome/css/font-awesome.min.css"
        rel="stylesheet" type="text/css">
    <link href="../lib/style/simple-line-icons/simple-line-icons.min.css"
        rel="stylesheet" type="text/css">
    <!-- <link href="./assets/global/plugins/uniform/css/uniform.default.css"
        rel="stylesheet" type="text/css"> -->
    <!-- END 首先加载第三方的css -->

    <!-- BEGIN  加载页面相关的CSS文件-->
    <link rel="stylesheet" type="text/css" href="../common/style/widget.css"/>
    <link rel="stylesheet" type="text/css" href="../common/style/prompt.css"/>
    <link href="../common/style/layout.css" rel="stylesheet" type="text/css">
    <link href="./style/index.css" rel="stylesheet" type="text/css">
    <link href="../common/style/footer.css" rel="stylesheet" type="text/css">
    <link href="directive/dp-layout.css" rel="stylesheet" type="text/css">
    <!-- END 加载页面相关的CSS文件 -->

    <!-- BEGIN 个性化的CSS -->

    <!-- END 个性化的CSS -->
  </head>
  <!-- END HEAD -->
  <!-- BEGIN BODY -->
  <body data-ng-app="ecnuDpHome">
    <div class="container-fluid" ng-controller="DpHomeCtrl as dpHomeCtrl">

      <!-- BEGIN HEADER -->
      <drop-down-menu></drop-down-menu>
      <!-- END HEADER -->

      <!-- content div -->
      <div class="row">
        <div class="col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 dp-index-content">
          <div class="row" ng-repeat="rowIndex in dpHomeCtrl.rowIndice">
            <div class="col-md-6 col-sm-10">
              <app-panel app-item="dpHomeCtrl.menuObj.menu[rowIndex]"></app-panel>
            </div>
            <div class="col-md-6 col-sm-10" ng-if="rowIndex+1 < dpHomeCtrl.menuObj.menu.length">
              <app-panel app-item="dpHomeCtrl.menuObj.menu[rowIndex+1]"></app-panel>
            </div>
          </div>
        </div>
      </div>


      <!-- footer div -->
      <div ng-include="'../common/view/footer.html'"></div>
    </div>

    <!-- bower:js -->

    <!-- endbower -->

    <!--
      common modules are injected by gulp-inject
      <script type="text/javascript" src="../common/common.app.js"></script>
      <script type="text/javascript" src="../common/service/utils.ser.js"></script>
      <script type="text/javascript" src="../common/service/menu-dao.ser.js"></script>
      -->
    <!-- inject:js -->

    <!-- endinject -->


    <!-- build:js ./ecnu-dp-home.app.min.js -->
    <script type="text/javascript" src="index.app.js"></script>
    <script type="text/javascript" src="directive/dp-menu.dir.js"></script>
    <script type="text/javascript" src="./directive/app-panel.dir.js"></script>
    <script type="text/javascript" src="filter/auth-filters.filter.js"></script>
    <script type="text/javascript" src="index.ctrl.js"></script>
    <!-- endbuild -->

  </body>
  <!-- END BODY -->
  <!-- END BODY -->
</html>