<div class="memo">
    <div class="panel panel-info panel-border-color">
        <div class="panel-heading">
            <h3 class="panel-title">说明</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li>按查询条件返回可申请学籍异动的研究生</li>
                <li>代研究生申请学籍异动</li>
            </ul>
        </div>
    </div>
</div>
<div class="status-change-apply" ng-controller="YdsqCtrl as ydsqCtrl">
    <search-layout search-config="ydsqCtrl.searchConfig" search-condition="ydsqCtrl.searchCondition">
        <div class="search-bottom">
            <div class="col-md-3">
                <button ng-click="ydsqCtrl.getByPage()" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>查询
                </button>
            </div>
        </div>
    </search-layout>
    <div style="display: {{ydsqCtrl.tableDisplay}}">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>学号</th>
                    <th>年级</th>
                    <th>院系</th>
                    <th>专业</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in ydsqCtrl.items">
                    <td ng-bind="student.name"></td>
                    <td ng-bind="student.sno"></td>
                    <td ng-bind="student.grade"></td>
                    <td ng-bind="student.school"></td>
                    <td ng-bind="student.department"></td>
                    <td>
                        <button class="no-border-btn" ng-click="ydsqCtrl.open('lg',student)">申请
                        </button>
                    </td>
                </tr>
            </tbody>
            <script type="text/ng-template" id="request.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">异动申请</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <status-apply-panel apply-config="ydsqModalCtrl.applyConfig"></status-apply-panel>
                </div>
            </script>
            <script type="text/ng-template" id="status.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="status-modal-title">{{statusModalCtrl.status}}</h3>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="statusModalCtrl.ok()">确定</button>
                </div>
            </script>
        </table>
        <div class="form-inline forPagination" ng-show="ydsqCtrl.page">
            <div class="col-md-3"></div>
            <div class="text-center col-md-6">
                <uib-pagination total-items="ydsqCtrl.totalItems" ng-model="ydsqCtrl.currentPage" items-per-page="ydsqCtrl.numPerPage" max-size="ydsqCtrl.maxSize" class="pagination pagination-location" first-text="首页" previous-text="上一页" next-text="下一页" last-text="末页" boundary-links="true" ng-change="ydsqCtrl.getByPage()" force-ellipses="false"></uib-pagination>
            </div>
            <div class="text-right col-md-3">
                <label class="pagination-label" for="pageNum">每页显示记录数目</label>
                <select id="pageNum" class="form-control" ng-model="ydsqCtrl.numPerPage" ng-options="num for num in ydsqCtrl.num"></select>
                <button class="btn btn-default" ng-click="ydsqCtrl.getByPage()">确定</button>
            </div>
        </div>
    </div>
</div>
